.one {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.onn {
  padding: 20px;
  border-radius: 10px;
  width: 200%;
}


.input, .textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

.primary {
  background-color: #00bfff;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.primary:hover {
  background-color: #009acd;
}
